{{!-- 1st container --}}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Eat these yummy Burgers</h1>
        </div>
        <div class="col-md-6 text-center task">
            <div class="row">
                {{#each burger_data}}
                    {{#unless this.devoured}}
                        <div class="col-md-9 text-center">
                            {{this.id}} {{this.burger_name}}
                        </div>
                    {{/unless}}

                {{/each}}
            </div>
        </div>
    </div>
</div>
{{!-- 2nd container --}}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <form action="/burgers/insertOne" method=""POST>
                <input type="text" class=""form-control name="burger_name" value="" id="enter_text" >
                <button type="submit" class="btn btn-info" id="text-enter-button" >
                    Submit
                </button>
            </form>
            <p>Enter name of burger to eat, then click submit btn.</p>
        </div>
    </div>
</div>